.flex {
    -webkit-flex: 1 1 0%;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    box-sizing: border-box;
}

.flex-20 {
    -webkit-flex: 1 1 20%;
    -ms-flex: 1 1 20%;
    flex: 1 1 20%;
    max-width: 20%;
    max-height: 100%;
    box-sizing: border-box;
}

.layout-row .flex-33 {
    -webkit-flex: 1 1 calc(100% / 3);
    -ms-flex: 1 1 calc(100% / 3);
    flex: 1 1 calc(100% / 3);
    box-sizing: border-box;
}

.layout-row .flex-66 {
    -webkit-flex: 1 1 calc(200% / 3);
    -ms-flex: 1 1 calc(200% / 3);
    flex: 1 1 calc(200% / 3);
    box-sizing: border-box;
}

.layout-row .flex-33 {
    max-width: calc(100% / 3);
    max-height: 100%;
}

.layout-row .flex-66 {
    max-width: calc(200% / 3);
    max-height: 100%;
}

.layout-column .flex-33 {
    max-width: 100%;
    max-height: calc(100% / 3);
}

.layout-column .flex-66 {
    max-width: 100%;
    max-height: calc(200% / 3);
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .mainDiv {
        /* background-image: url("../img/bg.jpg"); */
        background-position: center center;
        background-repeat: no-repeat;
        height: 60%;
        width: 500px;
        background-size: cover;
    }
    .subTitle {
        margin-left: 10%;
        color: #d7df00;
    }
}

.mainDiv {
    background-image: url("../img/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    height: 60%;
    width: 100%;
    top: 20%;
    position: absolute;
    background-size: cover;
}

@media (min-width: 960px)
angular-material.css:173
.md-padding {
     padding: 0px !important;
}
.md-padding {
     padding: 8px !important;
}

.circle {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #BDBDBD;
    color: black;
  }
   
  p.circle.ng-binding {
    text-align: center;
  }
   
  .selectedIndex {
    background: #5BBBFF;
    color: white;
  }
   
  .selectedIndex .circle {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: white;
    color: black;
  }

  .cardStyle{
      padding: 10px;
      /* margin: 10px; */
  }