<div layout="row" layout-align="start-center" align="left">
    <h1>Tell us about you company</h1>
    <md-card align="left">
        <md-card-content layout-xs="column " layout="row ">

            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline ">Company Details </span>
                </md-card-title-text>
            </md-card-title>

            <div layout="row ">
                <md-input-container>
                    <label>Company Name</label>
                    <input required name="companyName ">
                </md-input-container>

                <md-input-container>
                    <label>Phone</label>
                    <input required name="phone ">
                </md-input-container>

    </md-card>
    </md-content>
    </div>