<div layout="row" layout-align="start-center" align="left">
    <md-card align="left">
        <md-card-content >

            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">About Us</span>
                </md-card-title-text>
            </md-card-title>

            <p>
                Modern LPG was first launched by Union Carbide as “PYROFAX” brand in the year 1920. LPG marketing started in india in fifties
                by Burmah Shell & Stanvac in towns around the Refineries. The marketing of LPG was entrusted to private concessionaires
                of Esso & Caltex such as erstwhile Kosan Gas, DGPL & JK Gas. HPCL commenced marketing of LPG under the brand
                name “HP GAS” in 1979 with takeover of these concessionaires and merger with HPCL with a customer holding
                of 7.8 lakhs. The demand was sluggish till 1970 - sales 174 TMT.</p>
            <p> Today Liquefied Petroleum Gas (LPG) has become the single most popular household fuel. Since it was introduced
                in 1955, LPG consumption has gone up tremendously. HP Gas today (As of April 2011) has over 33 million domestic
                LPG consumers catered through a network of over 2630 distributors. HP Gas, the HPCL brand of LPG, is what
                keeps the fire burning in millions of indian homes. Bottled at 44 LPG Bottling Plants throughout the country
                with a total capacity of nearly 3550 TMTPA (thousand metric tons per annum), HP Gas reaches you after through
                checking at every stage right from bottling to distribution. That is what makes HP Gas synonymous with Safety.</p>
            <p>As a step to restructure HPCL, it undertook Business Process Re-engineering, and HP Gas was identified as a separate
                strategic business line. Accordingly, LPG Regional Offices were formed with LPG bottling plants as nodal
                points, and dedicated HP Gas sales areas were set up. The field marketing set up consists of 32 exclusive
                LPG Regional Managers. There are sales areas in each region with an exclusive Sales Officer looking after
                the various aspects of LPG marketing of a particular geographical area including control on the HP Gas distributorships.</p>
            <p>In addition to Domestic LPG, HPGAS also markets LPG cylinders for Commercial and Industrial purposes and Bulk
                LPG by tankers for Industries.
            </p>

    </md-card>
    </md-content>
</div>