<div layout="row" flex style="margin:10px" flex-xs="100">
    <md-card class="cardStyle" layout="column" style="margin:10px" flex="75" flex-xs="100" flex>
        <h4>Invoice Info</h4>
        <md-card-content class="md-padding">

            <md-input-container class="md-block" flex="60" flex-xs="100">
                <label>Invoice Number</label>
                <input class="" name="invoice_number" ng-model="invoice_number" required/>
                <span ng-show="isNameEmpty" style="color:red">Invoice Number is required.</span>
            </md-input-container>

            <md-input-container class="md-block" flex="60" flex-xs="100">
                <label>Invoice Date</label>
                <input mdc-datetime-picker="" date="true" time="false" type="text" ng-model="invoice_date" max-date="" class=" md-input" readonly="readonly" 
                  required>
                <div class="md-errors-spacer"></div>
                <span ng-show="startDateUndefined" class="alertsize">Invoice Date is required.</span>
              </md-input-container>

            <md-input-container class="md-block" flex="60" flex-xs="100">
                <label>Customer Name</label>
                <input class="advanceFormElement" name="client_name" ng-model="client_name" required/>
                <span ng-show="isAmountEmpty" style="color:red">Client Name is required.</span>
            </md-input-container>

            <hr/>

            <div layout="row">

                <md-input-container class="md-block" flex="50" flex-xs="100">
                    <label>Product Name</label>
                    <input class="advanceFormElement" name="productName" ng-model="productName" required/>
                    <span ng-show="isAmountEmpty" style="color:red">Product Name is required.</span>
                </md-input-container>

                <md-input-container class="md-block" flex="10" flex-xs="100">
                    <label>Price</label>
                    <input class="advanceFormElement" name="price" ng-model="price" required/>
                    <span ng-show="isAmountEmpty" style="color:red">Price is required.</span>
                </md-input-container>

                <md-input-container class="md-block" flex="10" flex-xs="100">
                    <label>Quantity</label>
                    <input class="advanceFormElement" type="number" name="quantity" ng-model="quantity" ng-change="calculateSubTotal()" 
                    min="0" max="10" required/>
                    <span ng-show="isAmountEmpty" style="color:red">Quantity is required.</span>
                </md-input-container>

                <md-input-container class="md-block" flex="20" flex-xs="100">
                    <label>Sub Total</label>
                    <input class="advanceFormElement" name="subTotal" ng-model="subTotal" required/>
                    <span ng-show="isAmountEmpty" style="color:red">Sub Total is required.</span>
                </md-input-container>

                <img src="app/img/icons/add.svg" alt="add" class="travelimage" flex="5" style="padding:8px;margin-bottom:12px;" ng-click="addProduct();">

            </div>

            <md-card md-whiteframe="10" class="availedcardmarginTop">
                <md-card-content>

                    <md-list >
                        <md-toolbar layout="row" >
                            <h4>Products Added ({{productList.length}})</h4>
                        </md-toolbar>
                        <div>
                            <md-list-item ng-repeat="product in productList" ng-click="productListItemClick($index)" class="backcolor" ng-class="{selectedIndex: currentSelectedIndex===$index}">
                                <div layout="row" flex="100" class="cardDataAlignment">
                                    <div layout="column" flex="85">
                                        <span class="textfontStyle">
                                            {{product.name}}-{{product.price}}</span>
                                    </div>
                                    <div flex="15">
                                        <md-button ng-click="deleteProduct($index)">
                                            <i class="material-icons">delete</i>
                                        </md-button>
                                    </div>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                        </div>
                    </md-list>
                </md-card-content>
            </md-card>

        </md-card-content>

        <md-card-actions layout="row" layout-align="right">
            <md-button class="md-primary md-raised" ng-click="SaveButtonClick()">Save</md-button>
            <md-button class="md-primary md-raised" ng-click="EditButtonClick()">Update</md-button>
            <md-button class="md-primary md-raised" ng-click="CancelButtonClick()">Cancel</md-button>
        </md-card-actions>
    </md-card>

    <md-card class="cardStyle" layout="column" style="margin:10px" flex="25" flex-xs="100" flex>

        <h4>Invoice List</h4>

    </md-card>

</div>