<div layout="row" flex >
    <md-card class="cardStyle" layout="column" style="margin:10px" flex="75" flex-xs="100" flex>
        <h4>Quatation Info</h4>
        <md-card-content class="md-padding">

            <md-input-container class="md-block" flex="60" flex-xs="100">
                <label>Invoice Number</label>
                <input class="" name="product_code" ng-model="product_code" required/>
                <span ng-show="isNameEmpty" style="color:red">Product Code is required.</span>
            </md-input-container>

            <md-input-container class="md-block" flex="60" flex-xs="100">
                <label>Invoice Date</label>
                <input class="" name="product_name" ng-model="product_name" required/>
                <span ng-show="isNameEmpty" style="color:red">Product Name is required.</span>
            </md-input-container>

            <md-input-container class="md-block" flex="60" flex-xs="100">
                <label>Customer Name</label>
                <input class="advanceFormElement" name="product_desc" ng-model="product_desc" required/>
                <span ng-show="isAmountEmpty" style="color:red">Product Description is required.</span>
            </md-input-container>

            <hr/>

            <div layout="row">

                <md-input-container class="md-block" flex="75" flex-xs="100">
                    <label>Product Name</label>
                    <input class="advanceFormElement" name="price" ng-model="price" required/>
                    <span ng-show="isAmountEmpty" style="color:red">Price is required.</span>
                </md-input-container>

                <md-input-container class="md-block" flex="20" flex-xs="100">
                    <label>Price</label>
                    <input class="advanceFormElement" name="price" ng-model="price" required/>
                    <span ng-show="isAmountEmpty" style="color:red">Price is required.</span>
                </md-input-container>

                <img src="app/img/icons/add.svg" alt="add" class="travelimage" flex="5" style="padding:8px;margin-bottom:12px;" ng-click="addProduct();">

            </div>

            <md-card md-whiteframe="10" class="availedcardmarginTop">
                <md-card-content>
                    <md-list>
                        <md-toolbar layout="row">
                            <h4>Products Quoted ({{productList.length}})</h4>
                        </md-toolbar>
                        <div>
                            <md-list-item ng-repeat="product in productList" ng-click="productListItemClick($index)" class="backcolor" ng-class="{selectedIndex: currentSelectedIndex===$index}">
                                <div layout="row" flex="100" class="cardDataAlignment">
                                    <div layout="column" flex="85">
                                        <span class="textfontStyle">
                                                {{product.name}} - {{product.price}}</span>
                                    </div>
                                    <div flex="15">
                                        <md-button ng-click="deleteProduct($index)">
                                            <i class="material-icons">delete</i>
                                        </md-button>
                                    </div>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                        </div>
                    </md-list>
                </md-card-content>
            </md-card>

        </md-card-content>

        <md-card-actions layout="row" layout-align="left">
            <md-button class="md-primary md-raised" ng-click="SaveButtonClick()">Save</md-button>
            <md-button class="md-primary md-raised" ng-click="EditButtonClick()">Update</md-button>
            <md-button class="md-primary md-raised" ng-click="CancelButtonClick()">Cancel</md-button>
        </md-card-actions>
    </md-card>

    <md-card class="cardStyle" layout="column" style="margin:10px" flex="25" flex-xs="100" flex>

        <h4>Quatation List</h4>

    </md-card>

</div>